<div class = "container-lg">

<div class = "bg-light my-3 pt-3">

 <div class = "mx-3">
  <table class = "table" >
   <tr>
    <td>
     <%= link_to genre_index_path, class:"text-reset" do %>
      フードジャンル編集
      <span class = "text-right"><i class="fas fa-angle-right"></i></span>
     <% end %>
    </td>
   </tr>
   <tr>
    <td>
     <%= link_to type_index_path, class:"text-reset" do %>
      フードタイプ編集
      <span class = "text-right"><i class="fas fa-angle-right"></i></span>
     <% end %>
    </td>
   </tr>
   <tr>
    <td>
     <%= link_to "戻る", :back, class:"btn btn-secondary" %>
    </td>
   </tr>
  </table>
 </div>

</div>

</div>

